
body {
	background-color: black;
	background-image: url(/img/header.jpeg);
	background-repeat: no-repeat;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: #999;
}

.facebook {
	background-color: #3B5998;
}

.twitter {
	background-color: #3B5998;
}

#footer {
	text-align: center;
	padding-top: 50px;
}

div.generate input#MetalText {
font-size: 24px;
padding: 5px;
}

